<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
</head>
<body>
    <h3>All Chats</h3>

    <form method="GET" action="/chats/new">
        <button>New Chat</button>
    </form>

    <br/>

    <%for(let chat of chats){%>
        <div>
            <p>From: <%=chat.from.toUpperCase()%></p>
            <p>Message: <%=chat.message%></p>
            <p>Received by: <%=chat.to.toUpperCase()%></p>
            <p><%=chat.createdAt.toString().split(" ")[4]%></p>
            <p><%=chat.createdAt.toString().split(" ").slice(0,4).join(", ")%></p>
            <form method="GET" action="/chats/<%=chat._id%>/edit"><button>edit</button></form>
            <form method="POST" action="/chats/<%=chat._id%>?_method=DELETE"><button>delete</button></form>
            <form method="GET" action="/chats/<%=chat._id%>"><button>SHOW</button></form>
            <hr>
        </div>
    <%}%>
    



</body>
</html>